@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin status-icon {
	position: absolute;
	bottom: 0.2rem;
	right: 0.2rem;
	color: white;
}

@mixin chat-style($width) {
	position: relative;
	border-radius: 6px;
	width: $width;
	max-width: 70%;
	box-sizing: border-box;
	word-break: break-all;
	white-space: pre-line;
}

@mixin img-style($bgcolor) {
	position: relative;
	background-color: $bgcolor;
	border-radius: 6px;
	width: 35%;
	box-sizing: border-box;

	& img {
		width: 100%;
	}

	@media screen and (max-width: 480px) {
		width: 50%;
	}
}

@mixin group-chat-style {
	@include chat-style(fit-content);

	& > :first-child {
		margin: 0 0 0.2rem 0;
		font-size: 0.8rem;
		color: #626266;
	}

	& > :nth-child(2) {
		margin: 0;
		font-size: 1rem;
	}

	.status-icon {
		@include status-icon;
	}
}

@mixin group-img-style {
	@include chat-style(fit-content);

	& > p {
		margin: 0 0 0.3rem 0;
		font-size: 0.8rem;
		color: #626266;
	}

	& > img {
		width: 35vw;
		border-radius: 4px;

		@media screen and (max-width: 480px) {
			width: 50vw;
		}
	}

	.status-icon {
		@include status-icon;
	}
}
