.home-container {
  text-align: center;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
//   background-color: #eeeeee;

  .home-logo {
    font-family: "Poppins", sans-serif;
    font-size: .7rem;
    text-align: left;
    color: #041562;
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
  }

  .home-text_container {
    .home-text {
      font-size: 1.5rem;
      color: #11468f;
      padding: 1rem;
      border-radius: 0.5rem;
    //   background-color: #eeeeee;
      border: 1px solid#e0e3e7;
    }
  }
}
